body,
html {
	font-size: 100%
}

body {
	background: #fff;
	color: #555;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: relative
}

h1,
p {
	direction: ltr;
	margin: 0;
	padding: 0
}

.btn {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .4);
	-webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .4);
	-moz-transition: background-position .1s linear;
	-ms-transition: background-position .1s linear;
	-o-transition: background-position .1s linear;
	-webkit-transition: background-position .1s linear;
	background-repeat: repeat-x;
	background-color: #d3505a;
	background-image: -webkit-gradient(left top, left bottom, color-stop(0, #ee5f64), color-stop(100%, #d3505a));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f64), to(#d3505a));
	background-image: linear-gradient(180deg, #ee5f64 0, #d3505a);
	border: 1px solid #d13644;
	border-radius: 4px;
	box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .4);
	color: #fff;
	display: inline-block;
	font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 45px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(142, 4, 17, .5);
	transition: background-position .1s linear;
	width: auto
}

.btn-important {
	background-color: #fcc164;
	background-image: -webkit-gradient(left top, left bottom, color-stop(0, #fbd95c), color-stop(100%, #fcc164));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fbd95c), to(#fcc164));
	background-image: linear-gradient(180deg, #fbd95c 0, #fcc164);
	border-color: #e1b231
}

.btn-important,
.btn-secondary {
	color: #222;
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, .5)
}

.btn-secondary {
	background-color: #f2f2f2;
	background-image: -webkit-gradient(left top, left bottom, color-stop(0, #fff), color-stop(100%, #f2f2f2));
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background-image: linear-gradient(180deg, #fff 0, #f2f2f2);
	border-color: #d8d8d8
}

.btn-small {
	padding: 6px 20px
}

.btn-mini {
	font-size: 14px;
	padding: 5px 15px 4px
}

.btn:hover {
	background-position: 0 -15px;
	color: #fff;
	text-decoration: none
}

.no-cssgradients .btn:hover {
	background-color: #cc3540
}

.btn-important:hover,
.btn-secondary:hover {
	color: #222
}

.no-cssgradients .btn-important:hover {
	background-color: #fbb443
}

.no-cssgradients .btn-secondary:hover {
	background-color: #e1e1e1
}

.btn:active,
.btn:focus {
	-moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, .15);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .15);
	background-image: none;
	color: #fff;
	outline: 0;
	text-decoration: none;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .15)
}

.btn-important:active,
.btn-important:focus,
.btn-secondary:active,
.btn-secondary:focus {
	color: #222;
	text-decoration: none
}

.btn-disabled,
.btn[disabled] {
	background-image: none;
	color: #ccc;
	color: hsla(0, 0%, 100%, .6);
	cursor: default;
	opacity: .9
}

.btn-disabled:active,
.btn-disabled:focus,
.btn-disabled:hover,
.btn[disabled]:active,
.btn[disabled]:focus,
.btn[disabled]:hover {
	-moz-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .4);
	-webkit-box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .4);
	background-position: 0 0;
	box-shadow: inset 0 1px 1px hsla(0, 0%, 100%, .4);
	color: #ccc;
	color: hsla(0, 0%, 100%, .6)
}

.no-cssgradients .btn-disabled:hover,
.no-cssgradients .btn[disabled]:hover {
	background-color: #d3505a
}

.btn-important-disabled,
.btn-important-disabled:active,
.btn-important-disabled:focus,
.btn-important-disabled:hover,
.btn-secondary-disabled,
.btn-secondary-disabled:active,
.btn-secondary-disabled:focus,
.btn-secondary-disabled:hover {
	color: #4e4e4e;
	color: rgba(34, 34, 34, .6)
}

.no-cssgradients .btn-important-disabled:hover {
	background-color: #fcc164
}

.no-cssgradients .btn-secondary-disabled:hover {
	background-color: #f2f2f2
}

@media only screen and (min-device-width:700px) and (min-device-height:1000px) and (orientation:portrait) {
	.mobileext-content {
		display: inline-block;
		margin: 2em 1em 0 2.8em
	}
}

@media only screen and (min-device-width:700px) and (min-device-height:1000px) and (orientation:landscape) {
	.mobileext-content {
		display: inline-block;
		margin: 2em 1em 0 4em
	}
}

.mobileext-footer,
.mobileext-header {
	color: #666;
	text-align: center;
	max-width: 285px;
	margin: 0 auto
}

.mobileext-footer p,
.mobileext-header p {
	font-size: .9375em;
	line-height: 1.3;
	margin-bottom: .85em
}

.mobileext-header h1 {
	color: #222;
	font-family: proxima-nova, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 1.25em;
	margin-top: 1.2em;
	margin-bottom: .2em
}

.mobileext-list {
	color: #222;
	font-size: .9375em;
	left: 5px;
	max-width: 275px;
	margin: 1.8em auto 1em;
	padding: 0 0 0 20px;
	position: relative;
	text-align: left
}

.mobileext-text {
	display: block;
	padding-right: .7em
}

.mobileext-divider {
	border-top: 1px solid #e5e5e5;
	display: block;
	margin: 0 auto;
	max-width: 185px;
	position: relative
}

.mobileext-img {
	border: 1px solid #ccc;
	display: block;
	max-width: 100%;
	min-width: 285px;
	margin-bottom: 1.8em;
	margin-left: -21px;
	margin-top: .85em
}

.mobileext-footer p {
	margin-top: 1.8em
}

.mobieext-helpaction {
	color: #777;
	display: inline-block;
	margin-bottom: 1em
}

.mobieext-helpaction:hover {
	color: #444;
	text-decoration: none
}


dl,
ol,
ul {
	font-family: inherit;
	font-size: 1em;
	line-height: 1.5;
	list-style-position: outside;
	margin-bottom: 1.25em
}

ul li ol,
ul li ul {
	font-size: 1em;
	margin-bottom: 0;
	margin-left: 1.25em
}

